body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    /* Background Image */
    background: url("header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: #E2DBDB;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #d43a1f;
    border-color: #d43a1f;
}

.btn-primary:hover {
    background-color: #be3600;
    border-color: #be3600;
    border-width: 4px;
}

.btn-xl {
    padding: 1rem 2rem;
}

hr {
    margin: 20px auto;
    color: #d43a1f;
    border: 3px solid #d43a1f;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
    height: 11.5rem;
}